:root {
    --noir: #000000;
    --vertfonce: #012e24;
    --vert: #80de52;
    --vertpale: #83f98e;
    --bleu: #258ea3;
  }


  
.favicon{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 1vw;
  top: 1vh;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background-color: var(--vert);
    overflow-x: hidden;
    height: 2000px;
    margin:0;
  }
  header {
    width: 100%;
    height: 96vh;
    background-image: url(../img/img_arriere_plan/fondProjet.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    margin:0;
    padding:0;
  }
  header p{
    position: absolute;
    left: center;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    top: 90vh;
left: 50%;
transform: translate(-50%, -50%);
color: var(--vertpale);
    
  }
  header span{
    position: absolute;
    
    text-align: center;
    font-weight: bolder;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h1 {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin:0;
  }
  
  .container {
    position: absolute;
    height: 100%;
    width: 100%;
    top:115px;
    left:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    font-size: 2vw;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    
  }
  .container p {
    font-size: 11px;
    max-width: 80%;
  }
  
  
  section {
    position: relative;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #chapitre-1{
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-image: url(../img/img_arriere_plan/Plandetravail1.png);
  }
  #chapitre-1 p{
    position: absolute;
    font-size: 16.5px;
    top: -15vh;
    color: var(--noir);
    font-weight: bold;
  }

  #chapitre-2{
    position: relative;
    background-image: url(../img/img_arriere_plan/Plandetravail2.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
  #chapitre-2 p{
    position: absolute;
    font-size: 16.5px;
    top: -15vh;
    color: white;
    font-weight: bold;
  }
  #chapitre-2 img.a{
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 10vw;
    rotate: -15deg;  
    left:34vw;  
    max-width: 115px;
    top: 15%;
    
    
    
/* GSAP en margin ici */
  }
#chapitre-2 img.b{
  position: absolute;
  display: block;
  margin: 0 auto;
  width: 10vw;
  rotate: 12deg;
  left: 55vw;
  max-width: 115px;
  top: 21px;
  
  /* GSAP en margin ici */
}
#chapitre-2 img.c{
  position: absolute;
  display: block;
  margin: 0 auto;
  width: 4.75vw;
  rotate: 1deg;
  max-width: 115px;
  top: -20%;
  
  /* GSAP en margin ici */
}



  #chapitre-3{
    position: relative;
    background-image:url(../img/img_arriere_plan/Plandetravail3.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    
  }
  #chapitre-3 p{
    position: absolute;
    font-size: 16.5px;
    top: 0vh;
    color: white;
    font-weight: bold;
  }
  #chapitre-3 img.a{
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 30px;
    rotate: -15deg;  
    left:45vw;  
    max-width: 115px;
  }
  #chapitre-4{
    position: relative;
    background-image: url(../img/img_arriere_plan/Plandetravail4.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
  #chapitre-4 p{
    position: absolute;
    font-size: 16.5px;
    top: 0vh;
    color: var(--noir);
    font-weight: bold;
  }
  #chapitre-4 div.a{
    position: absolute;
    top: 390px;
    left: 35vw;
    background-image: url(../img/img_personnages/spritesheetmeditation_katana-boy.png);
    background-position: 0 0;
    background-size: cover;
    width: 256px;
    height: 256px;
    
    background-color: transparent;
    animation: mamv 2.6s steps(30) infinite;
  }
  
  @keyframes mamv {
    0%{
      
      background-position-x: 0;
    }
    100%{
      
      background-position-x:-7680px;
    }
  }
  #chapitre-5{
    position: relative;
    background-image: url(../img/img_arriere_plan/Plandetravail5.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    color: white;
    z-index: 0;
    opacity: 95%;
    
  }
  #chapitre-5 p{
    position: absolute;
    font-size: 16.5px;
    top: 0vh;
    color: white;
    font-weight: bold;
  }
  #chapitre-5 .mask{
    position: absolute;
    background: white;
    border: red 10px;
    width: 92.5vw;
    height: 100vh;
    opacity: 6.5%;
  }
  #chapitre-5 img.a{
    width: 50vw;
    z-index: 1;
    height: 50vh;
    
    border-radius: 100%;
    opacity: 10;
    
  }
  #chapitre-6{
    position: relative;
    background-image: url(../img/img_arriere_plan/Plandetravail6.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
  #chapitre-6 p{
    position: absolute;
    font-size: 16.5px;
    top: 0vh;
    color: white;
    font-weight: bold;
  }
  #chapitre-6 div.a{
    position: absolute;
    top: 100px;
    left: 45%;
    background-image: url(../img/img_personnages/spritesheettue_fantome.png);
    background-position: 0 0;
    background-size: cover;
    width: 256px;
    height: 256px;
    background-color: transparent;
    animation: mamv 2.6s steps(30) infinite;
  }
  #chapitre-7{
    position: relative;
    background-image: url(../img/img_arriere_plan/Plandetravail6.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
  #chapitre-7 p{
    position: absolute;
    font-size: 16.5px;
    top: 0vh;
    color: white;
    font-weight: bold;
  }
  #chapitre-7 div.fantome{
    position: absolute;
    background-image: url(../img/img_personnages/fantome.png);
    background-size: cover;
    background-position: center;
    width: 64px;
    height: 49px;
    top: 430px;
    left: 51.5%;
  }
  #chapitre-7 div.a{
    position: absolute;
      background-image: url(../img/img_personnages/spritesheettue_fantome.png);
      background-position: 0 0;
      background-size: cover;
      width: 256px;
      height: 256px;
      
      background-color: transparent;
      animation: action 1s steps(30) infinite;
      animation-play-state: running; 
     left: 47%;
     rotate: 85deg;
      
    }

@keyframes action{
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x:-7680px;
  }
}

  #chapitre-8{
    position: relative;
    background-image: url(../img/img_arriere_plan/Plandetravail8.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    color: white;
    font-size: 125px;
  }


  #chapitre-1 .image {
    position: absolute;
    top: 50vh;
    left: 0.5vw;
    background-image: url(../img/img_personnages/spritesheet_marche_katana-boy.png);
    background-position: 0 0;
    background-size: cover;
    width: 128px;
    height: 128px;
    background-color: transparent;
    
    animation: mymove 2.6s steps(16) infinite;
    animation-play-state: paused;
  }
  .is-scrolling .image{
    
    
    
    animation-play-state: running;
    
  }
  @keyframes mymove {
    0%{
      transform: scale(-110vw);
      transform:translateX(-1vw) ;
      background-position-x: 0;
    }
    100%{
      transform: translateX(80vw);
      background-position-x:-2048px;
    }
  }
  body.is-scrolling{
    animation-play-state:running;
  }


/* pour le html test spritesheed
  @keyframes katana {
    0%{
      background-position-x: 0;
    }
    100%{
      background-position-x:-5100px;
    }
  }
  @keyframes katanaBoy {
    0%{
      background-position-x: 0;
    }
    100%{
      background-position-x:-7936px;
    }
  }
  

  @keyframes fantome {
    0%{
      background-position-x: 0;
    }
    100%{
      background-position-x:-7936px;
    }
  }*/