:root {
    --noir: #000000;
    --vertfonce: #012e24;
    --vert: #80de52;
    --vertpale: #83f98e;
    --bleu: #258ea3;
  }



body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background-color: var(--vert);
    overflow-x: hidden;
    height: 2000px;
  }
  header {
    width: 100%;
    height: 96vh;
    background-image: url('../img/img_arriere_plan/Plandetravail1.png');
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: 2px solid red;
    margin:0;
    padding:0;
  }
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  
  .container {
    position: absolute;
    height: 100%;
    width: 100%;
    top:115px;
    left:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    font-size: 2vw;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    
  }
  .container p {
    font-size: 11px;
    max-width: 80%;
  }
  
  
  section {
    
    
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #chapitre-1{
    position: relative;
    border:2px red solid;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-image: url(../img/img_arriere_plan/Plandetravail1.png);
  }

  #chapitre-2{
    position: relative;
    background-image: url(../img/img_arriere_plan/Plandetravail2.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
  #chapitre-2 img.a{
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 10vw;
    rotate: -15deg;  
    left:34vw;  
    max-width: 115px;
    
    
    
/* GSAP en margin ici */
  }
#chapitre-2 img.b{
  position: absolute;
  display: block;
  margin: 0 auto;
  width: 10vw;
  rotate: 12deg;
  left: 55vw;
  max-width: 115px;
  
  /* GSAP en margin ici */
}
#chapitre-2 img.c{
  position: absolute;
  display: block;
  margin: 0 auto;
  width: 4.75vw;
  rotate: 1deg;
  max-width: 115px;
  
  /* GSAP en margin ici */
}


  #chapitre-3{
    position: relative;
    background-image:url(../img/img_arriere_plan/Plandetravail3.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    
  }
  #chapitre-4{
    position: relative;
    background-image: url(../img/img_arriere_plan/Plandetravail4.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
  #chapitre-5{
    position: relative;
    background-image: url(../img/img_arriere_plan/Plandetravail5.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
  #chapitre-6{
    position: relative;
    background-image: url(../img/img_arriere_plan/Plandetravail6.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
  #chapitre-7{
    position: relative;
    background-image: url(../img/img_arriere_plan/Plandetravail6.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
  #chapitre-8{
    position: relative;
    background-image: url(../img/img_arriere_plan/Plandetravail8.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }


  .image {
    position: absolute;
    top: 50vh;
    left: 0.5vw;
    background-image: url(../img/img_personnages/spritesheet_marche_katana-boy.png);
    background-position: 0 0;
    background-size: cover;
    width: 256px;
    height: 256px;
    background-color: transparent;
    
    animation: mymove 1s steps(16) infinite;
    animation-play-state: paused;
  }
  .is-scrolling .image{
    
    
    animation: mymove 1s steps(16) infinite;
    animation-play-state: running;
    
  }
  @keyframes mymove {
    0%{
      background-position-x: 0;
    }
    100%{
      background-position-x:-4096px;
    }
  }
  body.is-scrolling{
    animation-play-state:running;
  }



  @keyframes katana {
    0%{
      background-position-x: 0;
    }
    100%{
      background-position-x:-5100px;
    }
  }
  @keyframes katanaBoy {
    0%{
      background-position-x: 0;
    }
    100%{
      background-position-x:-7936px;
    }
  }
  

  @keyframes fantome {
    0%{
      background-position-x: 0;
    }
    100%{
      background-position-x:-7936px;
    }
  }